<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>
  <body>
    <header>
      <h1>Header Parser API</h1>
      <p>Created by <a href="https://autumnbullard-portfolio.herokuapp.com" target="_blank">Autumn Bullard</a> &copy; <%= new Date().getFullYear(); %></p>
    </header>
    <main>
      <p>My project for the <a href="https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice" target="_blank">Request Header Parser Microservice challenge</a> as part of the curriculum for the Apis and Microservices Certification on <a href="https://www.freecodecamp.org" target="_blank">freeCodeCamp</a>.</p>
      <p>View the <a href="https://github.com/autumnchris/header-parser-api" target="_blank">source code</a> for this project.</p>
      <hr>
      <section>
        <h2>Project Usage</h2>
        <p>To get your browser's IP address, language, and operating system go to the route:</p>
        <pre><code>/api/whoami</code></pre>
      </section>
    </main>
  </body>
</html>
