<%- include ('./partials/header-content') -%>
<main>
  <section>
    <h2>Project Usage</h2>
    <p>To get your browser's IP address, language, and operating system go to the route:</p>
    <pre>
      <code class="api-link">https://autumnchris-header-parser-api.onrender.com/api/whoami</code>
      <button type="button" class="button copy-button api-header-parser" title="Copy to clipboard" aria-label="copy to clipboard"><span class="copy-icon far fa-copy"></span></button>
    </pre>
  </section>
</main>
